[project]
	description = this
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/satya53
[access "refs/for/refs/*"]
	read = group user/satya53
	push = group user/satya53
	label-Code-Review = -2..+2 group user/satya53
	label-Verified = -1..+1 group user/satya53
	rebase = group user/satya53
	removeReviewer = group user/satya53
	submit = group user/satya53
[access "refs/heads/*"]
	read = group user/satya53
	create = group user/satya53
	push = +force group user/satya53
	pushMerge = group user/satya53
[access "refs/tags/*"]
	push = group user/satya53
	push = +force group user/satya53
[submit]
	action = merge always
